.container__bestseller {
    width: 100%;
    height: 100%;
    margin: 100px 0px;
    padding: 0px 30px
}



.container__bestseller__card {
    min-width: 15%
}

.container__bestseller__card__image {
    height: 100%;
    width: 95%;
    border-radius: 8px;
    object-fit: fill
}


.container__bestseller__card__productname {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    text-overflow: ellipsis;   
    overflow:hidden;              
    white-space:nowrap;           
    width: 120px;
}

.container__bestseller__card__brand {
    font-size: 14px;
    color:grey;
    margin-top: 5px;
    text-overflow: ellipsis;   
    overflow:hidden;              
    white-space:nowrap;           
    width: 120px; 
}

.container__bestseller__card__price {
    margin-top: 5px;
    font-size: 14px;
    text-overflow: ellipsis;   
    overflow:hidden;              
    white-space:nowrap;           
    width: 150px;
}


.container__bestseller__header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.container__bestseller__header__title > h2  {
    font-size: 18px;
    font-weight: 500;
}

.container__bestseller__header__viewall  > h3{
  font-size: 20px; 
  color: #EF336E; 
  font-weight: 500;
}




