.container__sectionbanner {
    display: flex;
    width: 100%;
    margin: 20px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container__sectionbanner__image {
    width: 100%;
}


.container__sectionbanner__image > img {
    width: 100%;
}

@media (min-width:560px) {
    .container__sectionbanner__image {
        width: 32%;
    }
}